@import 'tailwindcss';
@import 'ngx-toastr/toastr';

/* CDK Modal Overlay Styles */
.cdk-overlay-container {
  z-index: 1000;
}

.cdk-overlay-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.vehicle-detail-modal {
  background: transparent !important;
  box-shadow: none !important;
}

.add-vehicle-modal {
  background: transparent !important;
  box-shadow: none !important;
}
